@(id: Long, persForm: Form[Person])

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main {
    
    <h1>Edit computer</h1>
    
    @b3.form(routes.PersonController.update(id)) {
        
        <fieldset>
        
            @b3.text(persForm("name"), '_label -> "Person Name", '_help -> "")
            @b3.text(persForm("country"), '_label -> "Person Country", '_help -> "")
            
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save " class="btn primary"> or 
            <a href="@routes.PersonController.list()" class="btn">Cancel</a>
        </div>
        
    }
    
    @b3.form(routes.PersonController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this Person" class="btn danger">
    }
    
}
